.navbar__container {
  display: flex;
  color: #ccc;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  background-color: #231942;
}

.logo {
  margin-left: 20px;
  font-size: 1.4em;
}

.nav__item {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.nav__elements {
  list-style: none;
  margin-right: 5px;
}
